<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script src="/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="content" style="width: 100%;margin: 20px 10px;">
  <button id="forward" style="width: 30%;height:70px">前进</button>
  <button id="back" style="width: 30%;height:70px">后退</button>
  <button id="stop" style="width: 30%;height:70px">停止</button>
</div>
<div class="content" style="width: 100%;margin: 20px 10px;">
  <button id="front_left" style="width: 40%;height:70px">左前转弯</button>
  <button id="back_left" style="width: 40%;height:70px">左后转弯</button>
</div>
<div class="content" style="width: 100%;margin: 20px 10px;">
  <button id="front_right" style="width: 40%;height:70px">右前转弯</button>
  <button id="back_right" style="width: 40%;height:70px">右后转弯</button>
</div>
<script>
  $('#forward').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'forward'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });

  $('#back').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'back'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });

  $('#stop').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'stop'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });

  $('#front_left').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'front_left'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });

  $('#front_right').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'front_right'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });

  $('#back_left').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'back_left'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });

  $('#back_right').on('click',function(){
    $.ajax({
      url: '/drive',
      type: 'post',
      data: {opt:'back_right'},
      dataType: 'json',
      success: function(data){
        alert(data.errcode);
      }
    });
  });
</script>
</body>
</html>